<a href="https://colab.research.google.com/github/Atharva-2007/DSBDA/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Salary%20Data.csv')

In [ ]:
data.head()

   Experience Years  Salary
0               1.1   39343
1               1.2   42774
2               1.3   46205
3               1.5   37731
4               2.0   43525

In [ ]:
data.tail()

    Experience Years  Salary
35               9.0  105582
36               9.5  116969
37               9.6  112635
38              10.3  122391
39              10.5  121872

In [ ]:
data.isnull()

    Experience Years  Salary
0              False   False
1              False   False
2              False   False
3              False   False
4              False   False
5              False   False
6              False   False
7              False   False
8              False   False
9              False   False
10             False   False
11             False   False
12             False   False
13             False   False
14             False   False
15             False   False
16             False   False
17             False   False
18             False   False
19             False   False
20             False   False
21             False   False
22             False   False
23             False   False
24             False   False
25             False   False
26             False   False
27             False   False
28             False   False
29             False   False
30             False   False
31             False   False
32             False   False
33             False   False
34             False   False
35             False   False
36             False   False
37             False   False
38             False   False
39             False   False

In [ ]:
data.describe()

       Experience Years         Salary
count         40.000000      40.000000
mean           5.152500   74743.625000
std            2.663715   25947.122885
min            1.100000   37731.000000
25%            3.200000   56878.250000
50%            4.600000   64472.500000
75%            6.875000   95023.250000
max           10.500000  122391.000000

In [ ]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
data['Salary'].unique()

array([ 39343,  42774,  46205,  37731,  43525,  39891,  48266,  56642,
        60150,  54445,  64445,  60000,  57189,  60200,  63218,  55794,
        56957,  57081,  59095,  61111,  64500,  67938,  66029,  83088,
        82200,  81363,  93940,  91000,  90000,  91738,  98273, 101302,
       113812, 111620, 109431, 105582, 116969, 112635, 122391, 121872])

In [ ]:
data['Salary'].value_counts()

39343     1
42774     1
66029     1
83088     1
82200     1
81363     1
93940     1
91000     1
90000     1
91738     1
98273     1
101302    1
113812    1
111620    1
109431    1
105582    1
116969    1
112635    1
122391    1
67938     1
64500     1
61111     1
54445     1
46205     1
37731     1
43525     1
39891     1
48266     1
56642     1
60150     1
64445     1
59095     1
60000     1
57189     1
60200     1
63218     1
55794     1
56957     1
57081     1
121872    1
Name: Salary, dtype: int64

In [ ]:
data['Experience Years'].unique()

array([ 1.1,  1.2,  1.3,  1.5,  2. ,  2.2,  2.5,  2.9,  3. ,  3.2,  3.5,
        3.7,  3.8,  3.9,  4. ,  4.1,  4.3,  4.5,  4.7,  4.9,  5.1,  5.3,
        5.5,  5.9,  6. ,  6.2,  6.5,  6.8,  7.1,  7.9,  8.2,  8.5,  8.7,
        9. ,  9.5,  9.6, 10.3, 10.5])

In [ ]:
data['Experience Years'].value_counts()

4.0     2
3.2     2
1.1     1
7.1     1
5.5     1
5.9     1
6.0     1
6.2     1
6.5     1
6.8     1
7.9     1
5.1     1
8.2     1
8.5     1
8.7     1
9.0     1
9.5     1
9.6     1
10.3    1
5.3     1
4.9     1
1.2     1
3.0     1
1.3     1
1.5     1
2.0     1
2.2     1
2.5     1
2.9     1
3.5     1
4.7     1
3.7     1
3.8     1
3.9     1
4.1     1
4.3     1
4.5     1
10.5    1
Name: Experience Years, dtype: int64

In [ ]:
one_hot_encoding_data = pd.get_dummies(data)

In [ ]:
one_hot_encoding_data

    Experience Years  Salary
0                1.1   39343
1                1.2   42774
2                1.3   46205
3                1.5   37731
4                2.0   43525
5                2.2   39891
6                2.5   48266
7                2.9   56642
8                3.0   60150
9                3.2   54445
10               3.2   64445
11               3.5   60000
12               3.7   57189
13               3.8   60200
14               3.9   63218
15               4.0   55794
16               4.0   56957
17               4.1   57081
18               4.3   59095
19               4.5   61111
20               4.7   64500
21               4.9   67938
22               5.1   66029
23               5.3   83088
24               5.5   82200
25               5.9   81363
26               6.0   93940
27               6.2   91000
28               6.5   90000
29               6.8   91738
30               7.1   98273
31               7.9  101302
32               8.2  113812
33               8.5  111620
34               8.7  109431
35               9.0  105582
36               9.5  116969
37               9.6  112635
38              10.3  122391
39              10.5  121872

In [ ]:
one_hot_encoding_data1 = pd.get_dummies(data, columns=['Salary'])

In [ ]:
one_hot_encoding_data1

,Experience Years,Salary_37731,Salary_39343,Salary_39891,Salary_42774,Salary_43525,Salary_46205,Salary_48266,Salary_54445,Salary_55794,...,Salary_98273,Salary_101302,Salary_105582,Salary_109431,Salary_111620,Salary_112635,Salary_113812,Salary_116969,Salary_121872,Salary_122391
0,1.1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.2,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1.3,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1.5,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2.0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,2.2,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,2.5,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7,2.9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,3.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,3.2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
10,3.2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,3.5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,3.7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,3.8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,3.9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,4.0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
16,4.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,4.1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,4.3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,4.5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,4.7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,4.9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,5.1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,5.3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,5.5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,5.9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,6.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,6.2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,6.5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,6.8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,7.1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
31,7.9,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
32,8.2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
33,8.5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
34,8.7,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
35,9.0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
36,9.5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
37,9.6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
38,10.3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
39,10.5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
one_hot_encoding_data2 = pd.get_dummies(data, columns=['Experience Years'])

In [ ]:
one_hot_encoding_data2

,Salary,Experience Years_1.1,Experience Years_1.2,Experience Years_1.3,Experience Years_1.5,Experience Years_2.0,Experience Years_2.2,Experience Years_2.5,Experience Years_2.9,Experience Years_3.0,...,Experience Years_7.1,Experience Years_7.9,Experience Years_8.2,Experience Years_8.5,Experience Years_8.7,Experience Years_9.0,Experience Years_9.5,Experience Years_9.6,Experience Years_10.3,Experience Years_10.5
0,39343,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,42774,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,46205,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,37731,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,43525,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,39891,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,48266,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7,56642,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
8,60150,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9,54445,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,64445,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,60000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,57189,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,60200,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,63218,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,55794,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,56957,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,57081,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,59095,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,61111,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,64500,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,67938,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,66029,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,83088,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,82200,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,81363,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,93940,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,91000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,90000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,91738,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,98273,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
31,101302,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
32,113812,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
33,111620,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
34,109431,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
35,105582,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
36,116969,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
37,112635,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
38,122391,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
39,121872,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1